@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);







#ext_menu-c .navbar-toggler {
  color: #000;
}
#ext_menu-c .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
#header1-1 B {
  font-family: 'Montserrat', sans-serif;
  color: #4300ff;
}
#header1-1 FONT {
  font-size: 60px;
  color: #494949;
}
#header1-1 P {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#header1-1 H1 {
  font-family: 'Roboto', sans-serif;
}
#msg-box4-4 .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}
#msg-box4-4 .lead {
  font-size: 22px;
}
#form1-f .mbr-section-title B {
  font-family: 'Roboto', sans-serif;
}
#form1-f .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
}
